
body{
    background: #000000;
    color: #ffffff;
    margin: 0;
    font-family: "Poppins", sans-serif;
    margin-bottom: 100px;
}


header{
    padding: 1em 4em;
    color: #ff0000;
    font-size: 32px;
    font-weight: 500;
}

.apresentacao{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background: #383838;
    padding: 4em;
    border-top: 2px solid #ff0000;
    border-bottom: 2px solid #ff0000;
}

.apresentacao h1{
    margin-right: 8%;
    padding: 1em;
    background: #000000;
    border-radius: 24px;
    border: 1px solid #ffffff;
}
.apresentacao iframe{
    border: 2px solid #ff0000;
}

.secao__videos{
    background-color: #000000;
    padding: 20px;
}

.videos{
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

.videos img{
    opacity: 0.5;
    height: 300px;
}

.videos img:hover {
    opacity: 1.0;
    border: 3px solid #ff0000;
}

.secao__videos h2{
    color: #ff0000;
}