:root{
    --cor-fundo: #383838;
    --cor-preto: #000000;
    --cor-clara: #ffffff;
    --cor-destaque: #ff0000;
}

body{
    background: var(--cor-fundo);
    color: var(--cor-clara);
    margin: 0;
}


.cabecalho{
    background: var(--cor-preto);
    padding: 1.5em 4em;
    border-bottom: 2px solid var(--cor-destaque);
    color: var(--cor-destaque);
    text-transform: uppercase;
    font-weight: 500;
}


.secao__apresentacao{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 4em;
}

.titulo__apresentacao{
    width: 40%;
    margin-right: 3em;
    padding: 1em;
    background: var(--cor-preto);
    border-radius: 24px;
    border: 1px solid var(--cor-clara);
    box-shadow: 4px 4px 2px var(--cor-preto);
}

.video__apresentacao{
    border: 2px solid var(--cor-destaque);
}

.texto__forte{
    color: var(--cor-destaque);
}

.secao__videos{
    background: var(--cor-preto);
}